html body {
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

div#game-zone {
    border: 2px solid rgb(199, 199, 199);
    border-radius: 2%;
    width: 100%;
    max-width: 600px;
}

div#game-zone-2048 {
    display: grid;
    margin: 5px;
    padding: 5px;
    border-radius: 2%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(240, 240, 100);
}

div.game-zone-2048-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(185, 87, 22);
    aspect-ratio: 1 / 1;
    margin: 5px;
    border-radius: 5%;
}

div.game-zone-2048-item-text {
    color: cornsilk;
}

div#game-zone-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

div#game-zone-control>button {
    width: 100%;
    background-color: rgb(240, 240, 100);
    border-radius: 8px;
    font-size: 1.5rem;
}